node-red/flows.json
[{"id":"f3cbf401.08589","type":"tab","label":"Main","disabled":false,"info":""},{"id":"4172822f.19fedc","type":"tab","label":"configuration","disabled":false,"info":""},{"id":"67ab51aa.ab68b","type":"tab","label":"API","disabled":false,"info":""},{"id":"1996fcf1.1d037b","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"220010f1.859108","type":"tab","label":"Bowl service","disabled":false,"info":""},{"id":"5e423ef2.0a95e8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"954bd1e7.796b68","type":"link in","z":"f3cbf401.08589","name":"Cat is near","links":["2dc7b09a.14de78","a22238fb.df89b8"],"x":195,"y":280,"wires":[["abb746dc.21897","c1167903.894bb8","2de8723b.14744e","b313763a.053df8"]]},{"id":"abb746dc.21897","type":"debug","z":"f3cbf401.08589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":40,"wires":[]},{"id":"f042ac25.6ca6e8","type":"link out","z":"f3cbf401.08589","name":"openBowl","links":["aa768532.b7655"],"x":895,"y":280,"wires":[]},{"id":"91d8d06a.208888","type":"link out","z":"f3cbf401.08589","name":"closeBowl","links":["ebca465d.ced058"],"x":895,"y":340,"wires":[]},{"id":"aa768532.b7655","type":"link in","z":"220010f1.859108","name":"openBowl","links":["f042ac25.6ca6e8"],"x":195,"y":200,"wires":[["3b829f78.1c0a08"]]},{"id":"ebca465d.ced058","type":"link in","z":"220010f1.859108","name":"closeBowl","links":["91d8d06a.208888"],"x":195,"y":280,"wires":[["90ac35bf.d3ed4"]]},{"id":"f76ef872.6d6be8","type":"debug","z":"220010f1.859108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"bowlState","targetType":"msg","x":640,"y":200,"wires":[]},{"id":"3b829f78.1c0a08","type":"change","z":"220010f1.859108","name":"","rules":[{"t":"set","p":"bowlState","pt":"msg","to":"OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":200,"wires":[["f76ef872.6d6be8"]]},{"id":"90ac35bf.d3ed4","type":"change","z":"220010f1.859108","name":"","rules":[{"t":"set","p":"bowlState","pt":"msg","to":"CLOSE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["82675d76.cd465"]]},{"id":"82675d76.cd465","type":"debug","z":"220010f1.859108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"bowlState","targetType":"msg","x":640,"y":280,"wires":[]},{"id":"7a2c29e5.a8686","type":"link out","z":"1996fcf1.1d037b","name":"Motion detected","links":["844e28d.47cf058"],"x":515,"y":200,"wires":[]},{"id":"348a7c7d.010fdc","type":"inject","z":"1996fcf1.1d037b","name":"","topic":"Motion","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":385,"y":180,"wires":[["7a2c29e5.a8686"]]},{"id":"844e28d.47cf058","type":"link in","z":"f3cbf401.08589","name":"motion input","links":["7a2c29e5.a8686"],"x":195,"y":420,"wires":[["abb746dc.21897","b82ea1b8.7de8e8","2de8723b.14744e","b313763a.053df8"]]},{"id":"360ca6bc.44ceaa","type":"inject","z":"1996fcf1.1d037b","name":"","topic":"Motion","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":385,"y":220,"wires":[["7a2c29e5.a8686"]]},{"id":"2de8723b.14744e","type":"BooleanLogic","z":"f3cbf401.08589","name":"","operation":"AND","inputCount":2,"topic":"result","x":480,"y":320,"wires":[["16fd1ae4.09eb85"]],"inputLabels":["ttt"]},{"id":"b82ea1b8.7de8e8","type":"BDebug","z":"f3cbf401.08589","name":"Debug","x":170,"y":460,"wires":[]},{"id":"c1167903.894bb8","type":"BDebug","z":"f3cbf401.08589","name":"Debug","x":170,"y":320,"wires":[]},{"id":"ca953003.992a38","type":"Invert","z":"f3cbf401.08589","name":"Invert","x":610,"y":420,"wires":[["413de157.c06ff"]]},{"id":"b313763a.053df8","type":"BooleanLogic","z":"f3cbf401.08589","name":"","operation":"OR","inputCount":2,"topic":"result","x":470,"y":420,"wires":[["ca953003.992a38"]]},{"id":"d54b3ca3.a29ca8","type":"switch","z":"f3cbf401.08589","name":"Open","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":300,"wires":[["f042ac25.6ca6e8"],[]]},{"id":"4e1f8244.18e4bc","type":"switch","z":"f3cbf401.08589","name":"Close","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":340,"wires":[["91d8d06a.208888"],[]]},{"id":"d59da031.c56638","type":"inject","z":"4172822f.19fedc","name":"","topic":"exterieur","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":120,"wires":[["9451a4e4.e603f"]]},{"id":"fc9f8a6b.edb66","type":"inject","z":"4172822f.19fedc","name":"","topic":"exterieur","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":180,"wires":[["9451a4e4.e603f"]]},{"id":"9451a4e4.e603f","type":"link out","z":"4172822f.19fedc","name":"exterieur","links":["75648087.022538"],"x":515,"y":160,"wires":[]},{"id":"8bf3ce1e.9514f","type":"inject","z":"67ab51aa.ab68b","name":"","topic":"pluis","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":120,"wires":[["2f24696b.48c5f6"]]},{"id":"15720924.4460af","type":"inject","z":"67ab51aa.ab68b","name":"","topic":"pluis","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":160,"wires":[["2f24696b.48c5f6"]]},{"id":"2f24696b.48c5f6","type":"link out","z":"67ab51aa.ab68b","name":"meteo","links":["cd729efb.151ca8"],"x":495,"y":140,"wires":[]},{"id":"cd729efb.151ca8","type":"link in","z":"f3cbf401.08589","name":"","links":["2f24696b.48c5f6"],"x":175,"y":180,"wires":[["a674e39a.62b0d8","aa539b2c.818b28","abb746dc.21897"]]},{"id":"16fd1ae4.09eb85","type":"BooleanLogic","z":"f3cbf401.08589","name":"","operation":"AND","inputCount":2,"topic":"result","x":640,"y":260,"wires":[["d54b3ca3.a29ca8"]],"inputLabels":["ttt"]},{"id":"a674e39a.62b0d8","type":"BDebug","z":"f3cbf401.08589","name":"Debug","x":200,"y":220,"wires":[]},{"id":"75648087.022538","type":"link in","z":"f3cbf401.08589","name":"","links":["9451a4e4.e603f"],"x":175,"y":100,"wires":[["aa539b2c.818b28","abb746dc.21897","49d8477.984da38"]]},{"id":"aa539b2c.818b28","type":"BooleanLogic","z":"f3cbf401.08589","name":"","operation":"AND","inputCount":2,"topic":"resultMeteo","x":340,"y":140,"wires":[["db5473fa.1bc1f","413de157.c06ff"]],"inputLabels":["ttt"]},{"id":"49d8477.984da38","type":"BDebug","z":"f3cbf401.08589","name":"Debug","x":160,"y":140,"wires":[]},{"id":"db5473fa.1bc1f","type":"Invert","z":"f3cbf401.08589","name":"Invert","x":330,"y":200,"wires":[["16fd1ae4.09eb85"]]},{"id":"413de157.c06ff","type":"BooleanLogic","z":"f3cbf401.08589","name":"","operation":"OR","inputCount":2,"topic":"result","x":730,"y":400,"wires":[["4e1f8244.18e4bc"]]},{"id":"3fe9af5.37c075","type":"comment","z":"f3cbf401.08589","name":"Meteo","info":"","x":90,"y":100,"wires":[]},{"id":"4c8fda65.0c5084","type":"comment","z":"f3cbf401.08589","name":"Exterieur","info":"","x":80,"y":180,"wires":[]},{"id":"5f2c71cd.ce7cf8","type":"comment","z":"f3cbf401.08589","name":"Scan BLE","info":"","x":100,"y":280,"wires":[]},{"id":"34087911.09f37e","type":"comment","z":"f3cbf401.08589","name":"Motion Sensor","info":"","x":80,"y":420,"wires":[]},{"id":"a22238fb.df89b8","type":"link out","z":"1996fcf1.1d037b","name":"Cat is near","links":["954bd1e7.796b68"],"x":515,"y":300,"wires":[]},{"id":"f4fadf69.00aa2","type":"inject","z":"1996fcf1.1d037b","name":"","topic":"BLEScan","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":385,"y":280,"wires":[["a22238fb.df89b8"]]},{"id":"1269bc9a.5e844b","type":"inject","z":"1996fcf1.1d037b","name":"","topic":"BLEScan","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":375,"y":320,"wires":[["a22238fb.df89b8"]]},{"id":"af6c558c.9a55a8","type":"comment","z":"67ab51aa.ab68b","name":"Meteo","info":"","x":570,"y":140,"wires":[]},{"id":"f9b3c738.867738","type":"comment","z":"4172822f.19fedc","name":"Est en extérieur ?","info":"","x":620,"y":160,"wires":[]},{"id":"d080cd84.2c1f8","type":"comment","z":"1996fcf1.1d037b","name":"Motion Sensor","info":"","x":620,"y":200,"wires":[]},{"id":"618f4fb5.4d67b","type":"comment","z":"1996fcf1.1d037b","name":"BLEScan","info":"","x":600,"y":300,"wires":[]}]